<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Añadir otrosi</h5>
      <button type="button" id="cerrarModal" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body col-lg-12 mb-3">Contenido</div>
    <div class="row d-flex">
      <div class="col-lg-12 m-2 " for="Otrosicontador ">
        <div class="col-md-11">
          <label for="adiccion">Adicción:</label>
          <input type="text" class="form-control mb-2" id="adiccion" />
        </div>
        <div class="col-md-11">
          <label for="prorroga">Prórroga:</label>
          <input type="text" class="form-control mb-2" id="prorroga" />
        </div>
        <div class="col-md-11">
          <label for="OtrosiActividad">Actividad:</label>
          <input type="text" class="form-control mb-2" id="OtrosiActividad" />
        </div>
        <div class="col-md-11">
          <label for="fechaTerminacion">Fecha de Terminación:</label>
          <input type="date" class="form-control mb-2" id="fechaTerminacion" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="cerrarModal" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
      <button type="button" class="btn btn-primary">Guardar cambios</button>
    </div>
  </div>
</div>
