<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <br>
        <div style="text-align: center">
            <div>
                <h4>INSTITUTO DE EXTENSIÓN Y EDUCACIÓN PARA EL TRABAJO Y DESARROLLO HUMANO – IDEXUD 
                    UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS 
                    NIT: 899.999.230.7</h4>
                    <h4>Certifica</h4>
                </div>
        </div>

        <span>Que revisadas las bases de datos que reposan en los archivos del <strong>IDEXUD</strong>, se encuentra que el señor            
            <strong>JHESHUA DANNAND JARED LAROTA ALFÉREZ</strong>, identificado con cédula de ciudadanía <strong>No. 1.015.426.179 
            de Bogotá DC.</strong>, suscribió con esta entidad las Órdenes y/o Contratos de Prestación de Servicios, que a 
            continuación se relacionan:</span>
            <table style="margin-top: 40px;">
                <tr>
                    
                    <td><strong>CONTRATO DE PRESTACIÓN DE SERVICIOS:</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="text-align: start">1315 I -2022 </td>
                </tr>
                <tr>
                    <td><strong>EN DESARROLLO DEL CONTRATO:</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td >104-2022</td>
                </tr>
                <tr>
                    <td>FECHA DE SUSCRIPCIÓN: </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td >02 de junio de 2022 </td>
                </tr>
                <tr>
                    <td>FECHA ACTA DE INICIO:</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td >07 de junio de 2022 </td>
                </tr>
                <tr>
                    <td>VALOR CONTRATADO</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td >$35.000. 000.oo M/cte.</td>
                </tr>
                <tr>
                    <td>DURACIÓN:</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td >Siete (07) meses   </td>
                </tr>
                <tr>
                    <td>FECHA DE TERMINACIÓN:</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td >31 de diciembre de 2022 </td>
                </tr>
            </table>
            <div style="margin-top: 15px;">
            <span><strong>OBJETO:</strong> PRESTAR SERVICIOS PROFESIONALES DE MANERA AUTÓNOMA E INDEPENDIENTE 
                COMO INGENIERO DE SOPORTE, EN EL MARCO DEL CONTRATO DE PRESTACIÓN DE SERVICIOS 
                NO. 104 DE 2022 SUSCRITO ENTRE LA COMISIÓN NACIONAL DEL SERVICIO CIVIL-CNSC Y LA 
                UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS, de acuerdo con la propuesta de servicios 
                que forma parte integral del presente contrato. </span>
            </div>
            <div style="margin-top: 15px;">
            <span><strong>Actividades:</strong></span>
                <div style="margin-top: 20px; ">
                    <table>
                        <tr>
                            <td><strong>1.&nbsp;&nbsp;</strong></td>
                            <td>Elaborar los informes y reportes requeridos sobre el desempeño de la infraestructura de servicios que 
                                forma parte integral de presente contrato.</td>
                        </tr>
                        <tr>
                            <td><strong>2.&nbsp;&nbsp;</strong></td>
                            <td>Elaborar los informes y reportes requeridos sobre el desempeño de la infraestructura de servicios que 
                                forma parte integral de presente contrato.</td>
                        </tr>
                        <tr>
                            <td><strong>3.&nbsp;&nbsp;</strong></td>
                            <td>Elaborar los informes y reportes requeridos sobre el desempeño de la infraestructura de servicios que 
                                forma parte integral de presente contrato.</td>
                        </tr>
                        <tr>
                            <td><strong>4.&nbsp;&nbsp;</strong></td>
                            <td>Elaborar los informes y reportes requeridos sobre el desempeño de la infraestructura de servicios que 
                                forma parte integral de presente contrato.</td>
                        </tr>
                        <tr>
                            <td><strong>4.&nbsp;&nbsp;</strong></td>
                            <td>Elaborar los informes y reportes requeridos sobre el desempeño de la infraestructura de servicios que 
                                forma parte integral de presente contrato.</td>
                        </tr>
                        <tr>
                            <td><strong>4.&nbsp;&nbsp;</strong></td>
                            <td>Elaborar los informes y reportes requeridos sobre el desempeño de la infraestructura de servicios que 
                                forma parte integral de presente contrato.</td>
                        </tr>
                        <tr>
                            <td><strong>4.&nbsp;&nbsp;</strong></td>
                            <td>Elaborar los informes y reportes requeridos sobre el desempeño de la infraestructura de servicios que 
                                forma parte integral de presente contrato.</td>
                        </tr>
                    </table>
                    <table style="margin-top: 30px;">
                        <tr>
                            
                            <td><strong>OTROS SI</strong></td>
                        </tr>
                        <tr>
                            <td>ADICIÓN:</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>$2.200. 000.oo M/cte.</td>
                        </tr>
                        <tr>
                            <td>VALOR TOTAL DEL CONTRATO: </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td >$18.798. 633.oo M/cte. </td> <!-- este es el valo que se debe calcular como la suma de la adicion y el valor del contrato-->
                        </tr>
                        <tr>
                            <td>PRÓRROGA:</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td >Treinta (30) días</td>
                        </tr>
                        <tr>
                            <td>FECHA DE TERMINACIÓN:</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td >30 de enero de 2018 </td>
                        </tr>
                    </table>
                </div>
                <div style="margin-top: 10px;">
                <span >
                    <strong>Observacion: </strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil corrupti ea velit blanditiis? Alias, quae ducimus, libero dolore illo maxime tempore culpa fuga cupiditate ratione suscipit quam quidem impedit sint.
                </span>
                </div>
                <div style="margin-top: 10px;">
                <span >
                    <strong>Cesion: </strong>N° 1 del contrato de PRESTACIÓN DE SERVICIOS N° 551 - 2021. Fecha de la cesión: 01/09/2021
                </span>
                <div style="margin-top: 10px;">
                <span >
                    <strong> <p id="fecha_actual"></strong>
                </span>
            </div>
            <div style="text-align: center;">
                <br>
                <br>
                <p>inserte una firma aqui</p>
                <br>
                <br>
            </div>
            <div style="text-align: center;">
            <span>
               <strong>ROBERTO FERRO ESCOBAR Director IDEXUD.</strong>
            </span>
            <br>
            <span>
                Director IDEXUD. 
            </span>
            </div>
       <br>
       <br>
       <br>
            El presente es un documento público expedido con firma mecánica que garantiza su plena 
            validez jurídica y probatoria según lo establecido en la ley 527 de 1999.
        </div>
    </body>
</body>


<script>
    // Obtiene la fecha actual
    var fechaActual = new Date();
  
    // Formatea la fecha como "dd/mm/yyyy"
    var dia = fechaActual.getDate();
    var mes = fechaActual.getMonth() + 1; // ¡Agrega 1 porque los meses comienzan desde 0!
    var año = fechaActual.getFullYear();
  
    // Asegúrate de que el día y el mes tengan dos dígitos
    if (dia < 10) {
      dia = '0' + dia;
    }
    if (mes < 10) {
      mes = '0' + mes;
    }
  
    // Combina los componentes en una cadena de fecha
    var formatoFecha = dia + '-' + mes + '-' + año;
  
    // Muestra la fecha en el elemento con el ID "fecha_actual"
    document.getElementById('fecha_actual').innerHTML = 'Fecha de expedición de la certificación a solicitud del interesado: ' + formatoFecha;
  </script>
</html>
