<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <body>
        <br>
    <div>
        <table style="border-top: 1px solid black;">
        <tr>
            <td> PBX (601) 3239300 Ext. 6220</td>
            <td style="text-align: end;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Línea de atención gratuita: </u>&nbsp;<strong >01 800 091 44 10</strong></td>
        </tr>
        <tr>
            <td>Av. Calle 40A No. 13 09, Edificio UGI piso 16, Bogotá D.C. Colombia</td>
            <td style="text-align: end">www.udistrital.edu.co </td>
        </tr>
        <tr>
            <td style="font-size:10px">Acreditación Institucional de Alta Calidad. Resolución No. 023653 del 10 de diciembre de 2021</td>
            <td style="font-size:10px; text-align: end">idexud@udistrital.edu.co</td>
        </tr>
        </table>
    </div>
    </body>
</body>
</html>
