{% extends 'navBar.html' %}
{% block title %}
  {{ 'Gestion' }}
{% endblock %}

{% block contentN %}


<div class="container-fluid bg-secondary-color p-4 mx-auto w-50 ">

  <div class="row g-4">

    <!-- Columna para Nombres, Cedula, ID Desarrollo, ID Contrato, Valor Contrato -->
    <div class="col-lg-6 border border-4 rounded">
        <div class="p-3">
            <div class="row align-items-start">
                <div class="col-lg-12 mb-3">
                    <label class="input-group-text">Nombres</label>
                    <input type="text" aria-label="Nombres" class="form-control">
                </div>
                <div class="col-lg-12 mb-3">
                    <span class="input-group-text">Cédula</span>
                    <input type="text" aria-label="Cedula" class="form-control">
                </div>
                <div class="col-lg-12 mb-3">
                  <span class="input-group-text">Valor contrato</span>
                  <input type="text" aria-label="Valor contrato" class="form-control">
              </div>
                <div class="col-lg-6 mb-3">
                    <span class="input-group-text">ID Contrato</span>
                    <input type="text" aria-label="ID Contrato" class="form-control">
                </div>
                <div class="col-lg-6 mb-3">
                  <span class="input-group-text">ID Desarrollo</span>
                  <input type="text" aria-label="ID Desarrollo" class="form-control">
              </div>
                
            </div>
        </div>
    </div>


    <!-- Columna para Fechas Y Tipo de Contrato -->


    <div class="col-lg-6 border border-4 rounded">
        <div class="p-3 ">
            <label for="fechasub" class="input-group-text">Fecha subcripción</label>
            <input class="form-control mb-3" type="date" id="fechasub">
            <label for="fechainicio" class="input-group-text">Fecha inicio</label>
            <input class="form-control mb-3" type="date" id="fechainicio">
            <label for="fechaTerminacion" class="input-group-text">Fecha terminación</label>
            <input class="form-control mb-3" type="date" id="fechaTerminacion">
            
              <label for="tipoContrato" class="input-group-text">Tipo de contrato</label>
              <select class="form-select" aria-label="tipo de contrato" id="tipoContrato">
                  <option selected="" selected disabled>Selecciona un tipo de contrato...</option>
                  <option value="indefinido">Contrato Indefinido</option>
                  <option value="temporal">Contrato Temporal</option>
                  <option value="practicas">Contrato en Prácticas</option>
                  <option value="formacion">Contrato de Formación</option>
                  <option value="servicios">Contrato de prestación de servicios</option>
              </select>
          
        </div>
    </div>

    <!-- Columna para Objetivo -->

    <div class="col-lg-12 border border-4 rounded">
      <div class="p-3 bg-white">
        <label for="Objetivo" class="input-group-text">Selecciona un objetivo:</label>
        <select class="form-select mb-2" aria-label="tipo de contrato" id="Objetivo">
            <option selected="" selected disabled>Selecciona un objetivo...</option>
            <option value="Objetivo 1">Objetivo 1</option>
            <option value="Objetivo 2">Objetivo 2</option>
            <option value="Objetivo 3">Objetivo 3</option>
        </select>
    </div>
        
    </div>
    
    <!-- Columna para Actividades -->
    <div class="col-lg-12 border border-4 rounded">
        <div class="p-3 bg-white">
            <label for="actividades" class="input-group-text">Selecciona una actividad:</label>
            <select class="form-select mb-2" aria-label="tipo de contrato" id="actividades">
              <option value="desarrollo">Desarrollo de Software</option>
              <option value="control_versiones">Gestión de Control de Versiones con Git</option>
              <option value="pruebas">Pruebas de Software y QA</option>
              <option value="base_datos">Diseño y Optimización de Bases de Datos</option>
              <option value="front_end">Desarrollo Front-end con Tecnologías Modernas</option>
              <option value="back_end">Desarrollo Back-end y Construcción de APIs</option>
              <option value="seguridad">Seguridad Informática y Protección contra Amenazas</option>
              <option value="despliegue">Despliegue y Mantenimiento de Aplicaciones en Producción</option>
              <option value="rendimiento">Optimización de Rendimiento y Análisis</option>
              <option value="automatizacion">Automatización de Pruebas y Tareas de Desarrollo</option>
              <option value="aprendizaje_continuo">Aprendizaje Continuo y Actualización Tecnológica</option>
              <option value="Lorem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, reiciendis amet quas molestias rerum veniam minima ea dolorem, modi perspiciatis debitis eveniet adipisci incidunt fugit natus minus hic expedita ad.</option>
              <option value="colaboracion">Colaboración Efectiva y Trabajo en Equipo</option>
              <option value="resolucion_problemas">Resolución Creativa de Problemas Técnicos</option>
              </select>
            <div class="col-12 d-flex justify-content-end">
              <button type="button" class="btn btn-primary btn-sm" onclick="agregarElemento('actividad')">Añadir Actividad</button>

            </div>
            
          
            <label>Actividades Seleccionadas:</label>
            <div id="actividadesContainer">
              <!-- Las actividades seleccionadas se mostrarán aquí -->
            </div>
        </div>
        
    </div>
    <div class="col-lg-12 border border-4 rounded p-3">
      <div class="row">
        
        <div class="col-6 d-flex ">       
          <button type="button" class="btn btn-primary mb-2" onclick="agregarCampos()">Agregar Otrosi</button>
        </div>
        <div class="col-6 d-flex justify-content-end "> 
          <button class="btn btn-danger mb-2 " onclick="eliminarCampo()">Eliminar último otrosi</button>
        </div>
      </div>
        <div id="camposContainer">
        
        <!-- Los divs con los campos se agregarán aquí -->
      </div>
      
    </div>
</div>


<script>
  var contadorCampos = 1;
var limiteCampos = 11;

function agregarCampos() {
  var camposContainer = document.getElementById('camposContainer');

  if (contadorCampos < limiteCampos) {
    // Crear un nuevo div con los campos
    var nuevoDiv = document.createElement('div');
    nuevoDiv.className = 'border border-4 rounded p-3 mb-3';

    // Campos
    nuevoDiv.innerHTML = `
      <div class="col-lg-12 mb-3" for="Otrosicontador ${contadorCampos}">Otrosis número ${contadorCampos}:</div>

      <label for="adiccion${contadorCampos}">Adicción:</label>
      <input type="text" class="form-control mb-2" id="adiccion${contadorCampos}">

      <label for="prorroga${contadorCampos}">Prórroga:</label>
      <input type="text" class="form-control mb-2" id="prorroga${contadorCampos}">

      <label for="OtrosiActividad${contadorCampos}">Actividad:</label>
      <input type="text" class="form-control mb-2" id="OtrosiActividad${contadorCampos}">

      <label for="fechaTerminacion${contadorCampos}">Fecha de Terminación:</label>
      <input type="date" class="form-control mb-2" id="fechaTerminacion${contadorCampos}">
    `;

    // Incrementar el contador de campos
    contadorCampos++;

    // Agregar el nuevo div al contenedor
    camposContainer.appendChild(nuevoDiv);
  } else {
    alert('Se ha alcanzado el límite de 10 campos de otrosis.');
  }
}

function eliminarCampo() {
  var camposContainer = document.getElementById('camposContainer');
  if (contadorCampos > 1) {
    // Decrementar el contador de campos
    contadorCampos--;

    // Obtener el último div y eliminarlo
    var ultimoDiv = camposContainer.lastChild;
    camposContainer.removeChild(ultimoDiv);
  }
}

</script>

        <!-- Script para agregar actividades-->

        <script>
          var contadorCamposA = 0;
        
          function agregarElemento(tipo) {
            var selectElement;
            var container;
        
            if (tipo === 'actividad') {
              selectElement = document.getElementById('actividades');
              container = document.getElementById('actividadesContainer');
        
              // Obtener el elemento seleccionado
              var elementoSeleccionado = selectElement.options[selectElement.selectedIndex].text;
        
              
        
              // Verificar si el elemento ya está en el contenedor
              if (!contieneElemento(container, elementoSeleccionado)) {
                // Crear un contenedor para el elemento con un botón de eliminación
                var elementoContainer = document.createElement('div');
                elementoContainer.className = 'col-lg-12 d-flex flex-column mb-2';  
                elementoContainer.innerHTML = `
                  <div class="col-lg-12 d-flex justify-content-between align-items-start mb-2">
                    <div>
                      <span>${contadorCamposA}.&nbsp;</span>${elementoSeleccionado}
                    </div>
                    <button type="button" class="col-lg-2 btn-close " aria-label="Close" onclick="eliminarElemento(this)"></button>
                  </div>`;
                container.appendChild(elementoContainer);

              }
            }
          }
        
          function contieneElemento(container, elemento) {
            var elementos = container.getElementsByTagName('div');
        
            for (var i = 0; i < elementos.length; i++) {
              if (elementos[i].textContent.includes(elemento)) {
                // El elemento ya está en el contenedor
                return true;
              }
            }
            // El elemento no está en el contenedor
            // Incrementar el contador de campos después de agregar
            contadorCamposA++;
            return false;
          }
        
          function eliminarElemento(btn) {
            var container = btn.parentNode.parentNode; // Obtener el contenedor padre del botón
        
            // Eliminar el contenedor del elemento
            container.removeChild(btn.parentNode);
          }
        </script>
        
        

{% endblock %}
