{% extends 'navBar.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %}
{{ 'Gestion' }}
{% endblock %}

{% block contentN %}


<div class="container-fluid bg-secondary-color p-4 mx-auto w-50 ">

  <form action="post">
    <div class="row g-4 justify-content-between">

      <!-- Columna para Nombres, Cedula, ID Desarrollo, ID Contrato, Valor Contrato -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12  border border-4 rounded">
        <div class="p-3">
          <div class="row align-items-start">
            <div class="col-lg-12 mb-3">
              <div id="div_id_nombreConsultor" class="mb-3">
                <label for="id_nombreConsultor" class="form-label requiredField">
                  Nombre del empleado<span class="asteriskField">*</span>
                </label>
                <input type="text" name="nombreConsultor" class="form-control textinput" maxlength="50" required=""
                  id="id_nombreConsultor">
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              {{ form.cedula |as_crispy_field}}
            </div>
            <div class="col-lg-6 mb-3">
              {{ form.idDesarrollo |as_crispy_field}}
            </div>
            <div class="col-lg-6 mb-3">
              {{ form.idContrato |as_crispy_field}}
            </div>
            <div class="col-lg-6 mb-3">
              {{ form.valorContrato |as_crispy_field}}
            </div>

          </div>
        </div>


        <!-- Columna para Fechas Y Tipo de Contrato -->

        <div class="p-3 ">
          <div class="row align-items-start">
            <div class="col-lg-6 mb-3">
              {{ form.fechaSuscripcion |as_crispy_field}}
            </div>

            <div class="col-lg-6 mb-3">
              {{ form.fechaInicio |as_crispy_field}}
            </div>

            <div class="col-lg-6 mb-3">
              {{ form.fechaTerminacion |as_crispy_field}}
            </div>

            <div class="col-lg-6 mb-3">
              {{ form.valorContrato |as_crispy_field}}
            </div>
          </div>
        </div>
      </div>

      <!-- Columna para Objetivo -->

      <div class="col-lg-12 border border-4 rounded">
        <div class="p-3 bg-white">
          {{ form.objetoId |as_crispy_field}}
        </div>

      </div>

      <!-- Columna para Actividades -->
      <div class="col-lg-12 border border-4 rounded">
        <div class="p-3 bg-white">
          <label for="actividades" class="input-group-text">Selecciona una actividad:</label>
          <select class="form-select mb-2" aria-label="tipo de contrato" id="actividades">
            <option value="1">Desarrollo de Software</option>
            <option value="2">Gestión de Control de Versiones con Git</option>
            <option value="3">Pruebas de Software y QA</option>
            <option value="4">Diseño y Optimización de Bases de Datos</option>
            <option value="5">Desarrollo Front-end con Tecnologías Modernas</option>
            <option value="6">Desarrollo Back-end y Construcción de APIs</option>
            <option value="7">Seguridad Informática y Protección contra Amenazas</option>
            <option value="8">Despliegue y Mantenimiento de Aplicaciones en Producción</option>
            <option value="9">Optimización de Rendimiento y Análisis</option>
            <option value="10">Automatización de Pruebas y Tareas de Desarrollo</option>
            <option value="11">Aprendizaje Continuo y Actualización Tecnológica</option>
            <option value="12">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, reiciendis amet quas
              molestias rerum veniam minima ea dolorem, modi perspiciatis debitis eveniet adipisci incidunt fugit natus
              minus hic expedita ad.</option>
            <option value="colaboracion">Colaboración Efectiva y Trabajo en Equipo</option>
            <option value="resolucion_problemas">Resolución Creativa de Problemas Técnicos</option>
          </select>
          <div class="col-12 d-flex justify-content-end">
            <input type="button" class="btn btn-primary btn-sm" onclick="agregarElemento('actividad')" value="Añadir actividad"/>

          </div>
          
          <label>Actividades Seleccionadas:</label>
          <div id="actividadesContainer">
            <!-- Las actividades seleccionadas se mostrarán aquí -->
          </div>
        </div>
        <div class="col-lg-12 rounded p-3">
          <div class="row">

            <div class="col-6 d-flex ">
              <input type="button" class="btn btn-primary mb-2" onclick="agregarCampos()" value = 'Agregar Otrosi'/>
            </div>
            <div class="col-6 d-flex justify-content-end ">
              <input type="button" class="btn btn-danger mb-2 " onclick="eliminarCampo()" value = 'Eliminar último otrosi'/>
            </div>
          </div>
          <div id="camposContainer">

            <!-- Los divs con los campos se agregarán aquí -->
          </div>

        </div>
      </div>
      <div class="col-12 d-flex justify-content-end mt-3">
        <input type="submit" class="btn btn-primary justify-content-end " style="width: 200px; " value="Crear"/>
      </div>
  </form>
</div>

{% endblock %}