{% extends 'navBar.html' %}
{% block title %}
{{ 'Listar' }}
{% endblock %}
{% block contentN %}
{% comment %} <div class="container mt-3">
  <input type="text" class="form-control" id="filtroContratos"
    placeholder="Buscar contrato por nombre, cédula, objeto, fecha inicio, fecha fin, id contrato o id desarrollo...">
</div> {% endcomment %}


<div class="container mt-3  p-3 bg-body-tertiary border border-secondary  rounded-end">

  <h2>Filtro</h2>
  <div class="row g-2">
    <div class="col-md-3">
      <input type="text" class="form-control" id="filtroIdContrato" placeholder="ID Contrato">

    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" id="filtroIdDesarrollo" placeholder="ID Desarrollo">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" id="filtroNombre" placeholder="Nombre">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" id="filtroCedula" placeholder="Cédula">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" id="filtroFechaInicio" placeholder="Fecha Inicio">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" id="filtroFechaFin" placeholder="Fecha Fin">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" id="filtroObjeto" placeholder="Objeto">
    </div>
    <div class="justify-content-end d-flex mt-3">
      <button class="btn btn-outline-secondary btn-sm" style="margin-right: 20px;"><a class="nav-link"
          aria-current="page" href="{% url 'gestion:contrato_crear' %}">Crear nuevo contrato</a></button>
      <button class="btn btn-outline-secondary btn-sm"><a class="nav-link" aria-current="page"
          href="{% url 'gestion:menu' %}">Volver al menu principal</a></button>
    </div>

  </div>
</div>
{% comment %} <div class="col-md-4"> {% endcomment %}
  <div style="margin: 90px;">
    <div class="table-responsive mt-3 col-lg-12">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>id contrato</th>
            <th>id desarrollo</th>
            <th>Nombre</th>
            <th>CC</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Objeto</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for contrato in object_list %}
          <tr>
            <td>{{ contrato.idContrato }}</td>
            <td>{{ contrato.idDesarrollo }}</td>
            <td>{{ contrato.nombreConsultor }}</td>
            <td>{{ contrato.cedula }}</td>
            <td>{{ contrato.fechaInicio }}</td>
            <td>{{ contrato.fechaTerminacion }}</td>
            <td>{{ contrato.objetoId.nombreObjeto }}</td>
            <td style="width: 100px;">
              <div class="d-flex justify-content-around">
                <a href="{% url 'gestion:contrato_editar' contrato.id %}" title="Editar">
                  <button class="btn btn-outline-secondary btn-sm" type="button"><ion-icon name="create-outline"
                      class="ico"></ion-icon>
                  </button>
                </a>
                <button class="btn btn-outline-secondary btn-sm" type="button"><ion-icon name="trash-outline"
                    class="ico"></ion-icon></button>
                <button class="btn btn-outline-secondary btn-sm" type="button"><ion-icon name="download-outline"
                    class="ico"></ion-icon></button>
                <button class="btn btn-outline-secondary btn-sm" type="button"
                  onclick="abrir_modal_edicion(`{% url 'gestion:editar_modal' %}`)"><ion-icon name="add-circle-outline"
                    class="ico"></ion-icon></button>
              </div>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="miModal" role="dialog">

  </div>

  {% endblock %}