{% extends 'navBar.html' %}
{% block title %}
{{ 'actividades listar' }}
{% endblock %}
{% block contentN %}
<div class="container mt-3 p-3 bg-body-tertiary border border-secondary rounded-end">
  <h2>Filtro</h2>
  <div class="row g-2">
    <div class="col-md-6">
      <input type="text" class="form-control" id="filtroIdContrato" placeholder="Nombre actividad" />
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" id="filtroIdDesarrollo" placeholder="Descripción actividad" />
    </div>
    <div class="justify-content-end d-flex mt-3">
      <button class="btn btn-outline-secondary btn-sm" style="margin-right: 20px;"><a class="nav-link"
          aria-current="page" href="{% url 'gestion:actividades_crear' %}">Crear nueva actividad</a></button>
      <button class="btn btn-outline-secondary btn-sm"><a class="nav-link" aria-current="page"
          href="{% url 'gestion:menu' %}">Volver al menu principal</a></button>
    </div>
  </div>
</div>

<div style="margin: 90px;">
  <div class="table-responsive mt-3 col-lg-12">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>id actividad</th>
          <th>Nombre actividad</th>
          <th>Descripción actividad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for actividad in object_list %}
        <tr>
          <td>{{ actividad.id }}</td>
          <td>{{ actividad.nombreActividad }}</td>
          <td>{{ actividad.descripcionActividad }}</td>
          <td style="width: 100px;">
            <div class="d-flex justify-content-around">
              <a href="{% url 'gestion:actividades_editar' actividad.id %}" title="Editar">
                <button class="btn btn-outline-secondary btn-sm" type="button"><ion-icon name="create-outline"
                    class="ico"></ion-icon>
                </button>
              </a>
              <button class="btn btn-outline-secondary btn-sm" type="button"><ion-icon name="trash-outline"
                  class="ico"></ion-icon></button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}