{% extends "index.html" %}
{% block title %}{{ "consultar" }}{% endblock %}

{% block content %}
<div class="row mt-5 justify-content-center">

    <div class="col-lg-6" id="login-container" >
        <div id="welcome-message">
            <h3>Bienvenido al módulo de generación de certificados</h3>
            <p>Por favor, ingrese sus datos para consultar los certificados asociados a su cédula y correo electrónico
                proporcionado en su contrato laboral.</p>
            </div>
            <form action="#" method="get">
                <div class="mb-3 row">
                    <label for="Name" class="col-sm-2 col-form-label">Correo</label>
                    <input type="text" class="form-control" id="Name" placeholder="Nombre"
                    required>
                </div>
                <div class="mb-3 row">
                    <label for="Cedula" class="col-sm-2 col-form-label">Cedula</label>
                    <input type="text" pattern="^\d{6,11}$" class="form-control" id="Cedula" placeholder="123456789" required>
                </div>  
                
                <input type="button" class=" ml-4 form-control btn btn-primary justify-content-end " value="buscar">
            </form> 
            
        </div>
        <div class="col-lg-8">
            <h2 >resultados</h2>

        </div>
    </div>
{% endblock %}