{% extends "index.html" %}
{% block title %}{{ "consultar" }}{% endblock %}

{% block content %}
<div class="container mt-1 p-3" >
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 d-flex justify-content-center ">
            <img width="125px" height="125px" src="/static/img/Logo_Vertical_IDEXUD_Final-1-3-1.png" alt="logo oficina de extensión" >
        </div>
    </div>
    <div class="row justify-content-center  ">
      <div class="col-lg-6 text-center"  >
        <h1 style="color: #F0821A; text-align-last: center;"> Módulo de consulta de contratos</h1> 
        <p> 
          Busca fácilmente tus contratos de la oficina de extension de la Universidad Distrital Francisco José de Caldas.</p>
          <input type="button" id="btnCambiar" class="ml-4 form-control btn btn-primary" 
          style="max-width: 150px; padding-left: 4px;" value="Cambiar Formulario" onclick="cambiarFormulario()">
        </div>
      </div>
    </div>

<div class="row m-5 justify-content-center">

    <div id="formularioContrato" class="col-lg-6 col-md-6 col-sm-6 col-xl-6 bg-body-tertiary border border-secondary rounded p-4" style="display: none;">
        <div class="text-center">
            <h3>Bienvenido al módulo de generación de certificados</h3>
        </div>
        <div>
            <p>Por favor, ingrese sus datos para consultar los certificados asociados a su nombre, cédula, telefono, correo y dirección
                proporcionado en su contrato laboral.</p>
        </div>

        <form action="#" method="get">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="Name" class="col-sm-4 col-form-label">Nombre completo*</label>
                <input type="text" class="form-control" id="Nameconsultor" placeholder="Nombre y apellido" required>
            </div>
            <div class="mb-3 row">
                <label for="Cedula" class="col-sm-2 col-form-label">Cédula*</label>
                <input type="text" pattern="^\d{6,11}$" class="form-control" id="Cedula" placeholder="123456789"
                    required>
            </div>
            <div class="mb-3 row">
                <label for="correo" class="col-sm-2 col-form-label">Correo*</label>
                <input type="text" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}" title="Debe ser del formato nombre@correo.com" class="form-control" id="correo" placeholder="nombre@correo.com"
                    required>
            </div>
            <div class="mb-3 row">
                <label for="telefono" class="col-sm-2 col-form-label">Teléfono*</label>
                <input type="text" pattern="[\(]?[\+]?(\d{2}|\d{3})[\)]?[\s]?(\d{6}|\d{8}|\d{10}|\d{12}|\d{3}[\*\.\-]{2}\d{3}|\d{2}[\*\.\-\s]{3}\d{2}|\d{4}[\*\.\-\s]\d{4})" class="form-control" id="telefono" title="Deben ser del formato  3112223334 o +57 3112223334" placeholder="3112223334"
                    required>
            </div>
            <div class="mb-3 row">
                <label for="direccion" class="col-sm-4 col-form-label d-flex">Dirección&nbsp;<p style="font-size: smaller; color: gray; padding-top: 2px;"> (Opcional)</p></label>
                <input type="text" class="form-control" id="direccion" title="kra 1 # 1-1" placeholder="kra 1 # 1-1"
                    >
            </div>
        </form>
        <div class="row justify-content-end">
            <input type="button" id="btnBuscar" class=" ml-4 form-control btn btn-primary justify-content-end "
                style="max-width: 150px; margin-right: 4px;" value="buscar" onclick="buscar()">
            {% comment %} <input type="button" id="btnCambiar" class="ml-4 form-control btn btn-secondary" 
                style="max-width: 150px; padding-left: 4px;" value="Cambiar Formulario" onclick="cambiarFormulario()"> {% endcomment %}
        </div>  
    </div>

    <div  id="formularioDatos" class="col-lg-6 col-md-6 col-sm-6 col-xl-6 bg-body-tertiary border border-secondary rounded p-4">
        <div class="text-center">
            <h3>Bienvenido al módulo de generación de certificados</h3>
        </div>
        <div>
            <p>Por favor, ingrese el código único del certificado para consultar los certificados asociados.</p>
        </div>
    
        <form action="#" method="get">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="pdfID" class="col-sm-4 col-form-label">Código del certificado*</label>
                <input type="text" class="form-control" id="pdfID" placeholder="Código" required>
            </div>

        </form>
        <div class="row justify-content-end">
            <input type="button" id="btnBuscarid" class="ml-4 form-control btn btn-primary justify-content-end "
                style="max-width: 150px; margin-right: 4px;" value="buscar" onclick="buscarPDF()">
            {% comment %} <input type="button" id="btnCambiar" class="ml-4 form-control btn btn-secondary" 
                style="max-width: 150px; padding-left: 4px;" value="Cambiar Formulario" onclick="cambiarFormulario()"> {% endcomment %}
        </div>
    </div>
    
    <div class="col-lg-8 mt-5 ">
        <h4>Resultados</h4>
        <div class="col-lg-5 ">
            <input type="text" class="form-control"style=" border-color: #919191 ;" id="filtroInput" placeholder="Filtro">

        </div>
        <div>
            <table class="table table-striped table-bordered mt-4 border border-dark" id="tableuser">
                <thead class="">
                    <tr>
                        <th>Contratos encontrados</th>
                        <th style="width: 1px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="display: none;">
                        <td>
                        </td>
                        <td >
                            <button class="btn btn-outline-secondary btn-sm" type="button"><ion-icon
                                    name="download-outline" class="ico"></ion-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.getElementById('filtroInput').addEventListener('input', function () {
        filtrarTabla();
    });

    function filtrarTabla() {
        var input, filtro, tabla, filas, celdas, textoValor;
        input = document.getElementById('filtroInput');
        filtro = input.value.toUpperCase();
        tabla = document.getElementById('tableuser');
        filas = tabla.getElementsByTagName('tr');

        for (var i = 0; i < filas.length; i++) {
            celdas = filas[i].getElementsByTagName('td');
            for (var j = 0; j < celdas.length; j++) {
                textoValor = celdas[j].textContent || celdas[j].innerText;
                if (textoValor.toUpperCase().indexOf(filtro) > -1) {
                    filas[i].style.display = '';
                    break;
                } else {
                    filas[i].style.display = 'none';
                }
            }
        }
    }

    function cambiarFormulario() {
        var formularioContrato = document.getElementById('formularioContrato');
        var formularioDatos = document.getElementById('formularioDatos');

        if (formularioContrato.style.display === 'none') {
            formularioContrato.style.display = 'block';
            formularioDatos.style.display = 'none';
        } else {
            formularioContrato.style.display = 'none';
            formularioDatos.style.display = 'block';
        }
    }
</script>

<script>

    function habilitarBotonPDF() {
        document.getElementById('btnBuscarid').disabled = !document.getElementById('pdfID').value.trim();
    }
    
    function habilitarBoton() {
        const campos = ['Nameconsultor', 'Cedula', 'correo', 'telefono'];
        document.getElementById('btnBuscar').disabled = campos.some(campo => !document.getElementById(campo).value.trim());
    }

    function buscarPDF() {
        const idPdfCons = document.getElementById('pdfID').value.trim();
        if (!idPdfCons) {
            alert("Por favor, diligencie el campo correctamente");
            return;
        }
    
        const urlPatch = "{% url 'api:contrato_api' %}";
        const csrftoken = $('[name=csrfmiddlewaretoken]').val();
    
        $.ajax({
            url: urlPatch,
            type: 'get',
            beforeSend: xhr => xhr.setRequestHeader("X-CSRFToken", csrftoken),
            success: response => {
                const idPdfEnApi = response.map(x => x.codigo);
    
                if (!idPdfEnApi.includes(idPdfCons)) {
                    alert(`El número ${idPdfCons} ingresado no coincide con ningun código registrado.`);
                    return;
                }
    
                const busquedaDataNotificacion = response
                    .filter(x => idPdfCons ? x?.codigo?.includes(idPdfCons) : true);
    
                actualizarTabla(busquedaDataNotificacion);
            },
            error: error => console.log(error)
        });
    }
    
    function buscar() {
        const campos = ['Nameconsultor', 'Cedula', 'correo', 'telefono'];
        const valores = campos.map(campo => document.getElementById(campo).value.trim());
    
        if (valores.some(valor => !valor)) {
            alert("Por favor, diligencie todos los campos obligatorios.");
            return;
        }
    
        const urlPatch = "{% url 'api:contrato_api' %}";
        const csrftoken = $('[name=csrfmiddlewaretoken]').val();
    
        $.ajax({
            url: urlPatch,
            type: 'get',
            beforeSend: xhr => xhr.setRequestHeader("X-CSRFToken", csrftoken),
            success: response => {
                const cedulasEnApi = response.map(x => x.cedula.toLowerCase().trim());
                const correoEnApi = response.map(x => x.correo.toLowerCase().trim());
    
                if (!cedulasEnApi.includes(valores[1].toLowerCase()) || !correoEnApi.includes(valores[2].toLowerCase())) {
                    alert(`La cédula o el correo ingresados no coinciden con ninguna registrada.`);
                    return;
                }
    
                const busquedaDataNotificacion = response.filter(x =>
                    (valores[0] ? x.nombreConsultor?.toLowerCase()?.includes(valores[0].toLowerCase()) : true) &&
                    (valores[1] ? x?.cedula?.toLowerCase()?.includes(valores[1].toLowerCase()) : true) &&
                    (valores[2] ? x?.correo?.toLowerCase()?.includes(valores[2].toLowerCase()) : true) &&
                    (valores[3] ? x?.telefono?.toLowerCase()?.includes(valores[3].toLowerCase()) : true)
                );
    
                actualizarTabla(busquedaDataNotificacion);
            },
            error: error => console.log(error)
        });
    }
    
    function actualizarTabla(data) {
        const tabla = document.getElementById("tableuser").getElementsByTagName('tbody')[0];
        tabla.innerHTML = "";
    
        data.forEach(elemento => {
            const fila = tabla.insertRow();
            const celda = fila.insertCell(0);
            celda.textContent = `${elemento.idContrato} - ${elemento.nombreConsultor} - ${elemento.fechaInicio}`;
    
            const celdaBoton = fila.insertCell(1);
            celdaBoton.innerHTML = `
                <a href="./PDF/${elemento.id}">
                    <button class="btn btn-outline-success btn-sm" type="button"><ion-icon name="download-outline" class="ico"></ion-icon></button>
                </a>`;
        });
    }
    
</script>



<script>
    // Deshabilita el botón de búsqueda al cargar la página
    document.getElementById('btnBuscar').disabled = true;
    document.getElementById('btnBuscarid').disabled = true;
    
    // Habilita/deshabilita el botón al cambiar los valores de los campos de nombre y cédula
    document.getElementById('Nameconsultor').addEventListener('input', habilitarBoton);
    document.getElementById('Cedula').addEventListener('input', habilitarBoton);
    document.getElementById('correo').addEventListener('input', habilitarBoton);
    document.getElementById('telefono').addEventListener('input', habilitarBoton);
    document.getElementById('pdfID').addEventListener('input', habilitarBotonPDF);


</script>


{% endblock %}